@use "fonts" as font;

$base-font-family: font.$base-font-family;
$bold-font-family: font.$bold-font-family;
$monosapce-font-family: font.$monosapce-font-family;
$equation-background-color: lightgray;
////////////////////


