@use "variables" as var;

$base-font-family: var.$base-font-family;
$bold-font-family: var.$bold-font-family;
$eq-bg-color: var.$equation-background-color;

@mixin frame($color: orangered){
    .content{
        background-color: mix(white, $color, 85%);
        padding: 0.1em 0.2em;
        margin: 0.2em;
        /*margin-bottom: 0.5em;*/
        .title {
            font-family: $bold-font-family;
              font-weight: bold;
              margin: 10px;
              border-bottom: 3px solid $color;
          }
        .paragraph {
            padding-left: 1em;
        }
    }
}

@mixin math-frame($color){
    .content{
        background-color: $eq-bg-color;
        padding: 0.1em 0.2em;
        margin: 0.2em;
        /*margin-bottom: 0.5em;*/
        .title {
            font-family: $bold-font-family;
              font-weight: bold;
              margin: 10px;
              border-bottom: 3px solid $color;
          }
        .paragraph {
            padding-left: 1em;
        }
    }
}